@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  background-color: black;
}
nav {
  background-color: rgb(41, 41, 41);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin-left: 15px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.gameContainer {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 11vw);
  grid-template-columns: repeat(3, 11vw);
  font-family: "Roboto", sans-serif;
  margin: 30px;
  padding: 30px;
  position: relative;
}

.box {
  border: 2px solid rgb(255, 255, 0);
  font-size: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}
.gameInfo {
  margin: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Baloo Bhaina 2", cursive;
}
.gameInfo h1 {
  text-align: center;
}
.imgBox img {
  display: none;
  width: 200px;
}
.imgBox {
  display: flex;
  justify-content: center;
}
.br-0 {
  border-right: 0px;
}
.bl-0 {
  border-left: 0px;
}
.bt-0 {
  border-top: 0px;
}
.bb-0 {
  border-bottom: 0px;
}
#reset {
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border-style: none;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
#reset:hover {
  background-color: white;
  color: black;
}
.info {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #contents {
    width: 90%;
  }
  .gameInfo{
      margin-top: 30px;
  }
  .container{
    grid-template-rows: repeat(3, 25vw);
    grid-template-columns: repeat(3, 25vw);
  }
  .gameContainer{
      flex-direction: column-reverse;
  }
  .box{
      font-size: 10vw;
  }
}
.line{
    background-color: red;
    height: 5px;
    width: 32vw;
    position: absolute;
    margin: 30px;
    display: none;
}